.dialog {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.dialog[data-show='true'] {
  display: block;
}
.dialog__layer {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.dialog__window {
  background-color: #ddd;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
.dialog__window {
  display: block;
}
.dialog__header {
  padding: 10px 20px;
}
.dialog__body {
  display: block;
  padding: 10px 20px;
}
.dialog__controls {
  display: flex;
  padding: 10px 20px 20px 20px;
}
.dialog__reject {
  
}
.dialog__agree {
  
}
.dialog__controls .btn {
  background-color: #ccc;
  color: #fff;
  font-size: 14px;
  margin-right: 20px;
  padding: 8px 16px;
  width: auto;
}
.dialog__controls .btn:hover {
  background-color: #bbb;
  color: #fff;
}