@import 'variables.css';
@import 'dialog.css';

* {
	box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
canvas {
	display: block;
}
button {
	background: none;
	border: none;
	outline: none;
}
label {
	font-size: 12px;
}
input[type='file'] {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  width: 0.1px;
	z-index: -1;
}
select {
	background: none;
	border: none;
	outline: none;
}

#controls {
	left: 0;
	position: absolute;
	top: 0;
}