
:root {
  --parameter-active-color: #ffcc99;
}

#app[data-theme='default'] {
  --background-color: #eeeeee;
  --performer-color: #dddddd;
  --performer-collide-color: #ffcccc;
  --performer-select-color: #cccccc;
  --performer-map-color: #ccffcc;
}